## **Data Exploration with Pandas**
Copyright © Wendy Lee 2022

###  Tree of Life
<table><tr><td><img src="http://t3.gstatic.com/licensed-image?q=tbn:ANd9GcSq4PRaxgfpjNOSe81JgN8l71DWtDHpkSfH3xo8EOk7khAlqQozXnJm8ubupyHj" width=300></td><td>
<img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2008/04/17/DarwinSketch.article.jpg?width=445&quality=85&auto=format&fit=max&s=c7f89552d12b8495b2b4eb4d7a5bc391" width=300></td><td><img src="https://i.pinimg.com/originals/78/3f/98/783f983d622b06b9a990ad67efabbbe8.png" width=300></td></tr></table>

In this lecture, we will tackle real world questions with pandas. We will explore an kindom of life data file. Each row in this data set represents a  particular organism. An organism is classified in a particular Kingdom and Class.


### **Learning Outcome:**
- To learn how to import delimited data into a pandas dataframe.
- To learn about getting summary information and statistics of the data stored in a dataframe.
- To learn how to filter data or extract specific rows or columns using indices from a dataframe.
- To apply data analysis techniques to solve  real-world problems.

In [1]:
import pandas as pd

# this input file is tab-delimited instead of comma-delimited
tsvFile = "https://raw.githubusercontent.com/csbfx/advpy122-data/master/euk.tsv"
# we can specify the delimiter by using the sep keyword argument
euk = pd.read_csv(tsvFile, sep="\t")
# You can sort by one or more columns
euk.sort_values(
    ["Publication year", "Species"], ascending=[False, True]
)  # returning a new dataframe

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
3875,Acaulopage tetraceros,Fungi,Other Fungi,11.176800,44.4,-,-,2019,Scaffold
1594,Acipenser ruthenus,Animals,Fishes,1732.550000,34.4,-,-,2019,Scaffold
1360,Acomys cahirinus,Animals,Mammals,2306.070000,42.7,-,-,2019,Scaffold
392,Acropora millepora,Animals,Other Animals,386.600000,35.1,-,-,2019,Scaffold
2758,Actinidia eriantha,Plants,Land Plants,690.611000,35.9315,-,-,2019,Chromosome
...,...,...,...,...,...,...,...,...,...
4987,Guillardia theta,Other,Other,0.672788,27.5981,743,632,1999,Chromosome
8,Saccharomyces cerevisiae S288C,Fungi,Ascomycetes,12.157100,38.1556,6445,6002,1999,Complete Genome
17,Leishmania major strain Friedlin,Protists,Kinetoplasts,32.855100,59.7114,9388,8316,1998,Complete Genome
27,Plasmodium falciparum 3D7,Protists,Apicomplexans,23.326900,19.3315,5670,5392,1998,Complete Genome
8298,Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155,298,1992,Chromosome

In [ ]:
euk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8302 entries, 0 to 8301
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Species             8302 non-null   object
 1   Kingdom             8302 non-null   object
 2   Class               8302 non-null   object
 3   Size (Mb)           8302 non-null   float64
 4   GC%                 8302 non-null   object
 5   Number of genes     8302 non-null   object
 6   Number of proteins  8302 non-null   object
 7   Publication year    8302 non-null   int64
 8   Assembly status     8302 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 583.9+ KB

### Q1. How many fungal species have genomes size bigger than 100Mb? What are their names?

**We need to filter a few things to address this question.**
1. Select all the Fungi under the "Kingdom" column.
2. Select all the Fungi with genome size greater than 100.
3. Select Species from the filtered data from step 2 above.

**Let's do it step by step. And then we will combine all of them in one line of code.**

In [ ]:
# Narrow down to only Fungi
euk[(euk["Kingdom"] == "Fungi")]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
8,Saccharomyces cerevisiae S288C,Fungi,Ascomycetes,12.157100,38.1556,6445,6002,1999,Complete Genome
10,Pneumocystis carinii B80,Fungi,Ascomycetes,7.661460,27.8,3695,3646,2015,Contig
11,Schizosaccharomyces pombe,Fungi,Ascomycetes,12.591300,36.0381,6974,5132,2002,Chromosome
12,Aspergillus nidulans FGSC A4,Fungi,Ascomycetes,30.276000,50.2721,9586,9556,2003,Scaffold
13,Aspergillus fumigatus Af293,Fungi,Ascomycetes,29.385000,49.8105,19832,19260,2005,Chromosome
...,...,...,...,...,...,...,...,...,...
8297,Saccharomyces cerevisiae,Fungi,Ascomycetes,3.993920,38.2,-,-,2017,Scaffold
8298,Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155,298,1992,Chromosome
8299,Saccharomyces cerevisiae,Fungi,Ascomycetes,12.020400,38.2971,-,-,2018,Chromosome
8300,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.960900,38.2413,-,-,2018,Chromosome
8301,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.820700,38.2536,-,-,2018,Chromosome

**To combine two conditional statements in the filtering, we need to surround each conditional statements with its own pair of parentheses.**

In [ ]:
# Narrow down to Fungi that has genome size > 100
euk[(euk.Kingdom == "Fungi") & (euk["Size (Mb)"] > 100)]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
323,Blumeria graminis f. sp. hordei DH14,Fungi,Ascomycetes,124.489,43.5,-,-,2018,Scaffold
347,Puccinia triticina 1-1 BBBD Race 1,Fungi,Basidiomycetes,135.344,36.8,15539,15685,2009,Scaffold
354,Tuber melanosporum,Fungi,Ascomycetes,124.946,44.9,7496,7496,2010,Scaffold
372,Puccinia striiformis f. sp. tritici,Fungi,Basidiomycetes,156.834,44.4,-,-,2018,Contig
427,Melampsora larici-populina 98AG31,Fungi,Basidiomycetes,101.129,41.3,16380,16372,2011,Scaffold
...,...,...,...,...,...,...,...,...,...
6406,Rhizophagus irregularis,Fungi,Other Fungi,131.335,25.8,24574,24485,2016,Scaffold
6502,Rhizophagus irregularis,Fungi,Other Fungi,211.467,-,-,-,2018,Scaffold
6511,Rhizophagus irregularis,Fungi,Other Fungi,156.891,-,-,-,2018,Scaffold
6520,Puccinia striiformis,Fungi,Basidiomycetes,144.837,44.2,-,-,2019,Scaffold
6579,Puccinia striiformis f. sp. tritici CY32,Fungi,Basidiomycetes,130.485,45.2,-,-,2013,Scaffold

In [ ]:
# Species that are Fungi with genome size > 100 Mb
euk[(euk.Kingdom == "Fungi") & (euk["Size (Mb)"] > 100)].Species

323         Blumeria graminis f. sp. hordei DH14
347           Puccinia triticina 1-1 BBBD Race 1
354                           Tuber melanosporum
372          Puccinia striiformis f. sp. tritici
427            Melampsora larici-populina 98AG31
                          ...
6406                     Rhizophagus irregularis
6502                     Rhizophagus irregularis
6511                     Rhizophagus irregularis
6520                        Puccinia striiformis
6579    Puccinia striiformis f. sp. tritici CY32
Name: Species, Length: 76, dtype: object

#### Convert the Series in \#3 above to a python list using `to_list` method ####

In [ ]:
speciesList = euk[(euk.Kingdom == "Fungi") & (euk["Size (Mb)"] > 100)][
    "Species"
].to_list()
# top 10 on the list
speciesList[0:10]  # start is inclusive, stop is exclusive, the last one is step

['Blumeria graminis f. sp. hordei DH14',
 'Puccinia triticina 1-1 BBBD Race 1',
 'Tuber melanosporum',
 'Puccinia striiformis f. sp. tritici',
 'Melampsora larici-populina 98AG31',
 'Ophiocordyceps sinensis',
 'Gigaspora rosea',
 'Leucoagaricus gongylophorus Ac12',
 'Hemileia vastatrix HvCat',
 'Cenococcum geophilum 1.58']

### Q2. How many organisms are there for each Kingdom (plants, animals, fungi, protists, and other), and how many unique species names?

**The first part of this problem is relatively easy to answer: any time we see a question involving the words ”how many
... for each ...” the answer is `value_counts`.**

In [ ]:
euk.Kingdom.value_counts()

Fungi       4494
Animals     2181
Plants       870
Protists     727
Other         30
Name: Kingdom, dtype: int64

**The second part is a bit trickier. Let's start by solving part
of the problem, so we’ll begin by just counting the unique species names for plants by filtering the dataframe.** [`nunique()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.nunique.html) returns the number of distinct obeservations.

In [ ]:
euk[(euk["Kingdom"] == "Plants")].Species.nunique()

464

**Now let's expand this to all kingdoms**

In [ ]:
for k in ["Protists", "Plants", "Fungi", "Animals", "Other"]:
    print(k, euk[euk.Kingdom == k].Species.nunique())

Protists 449
Plants 464
Fungi 2554
Animals 1442
Other 27

**But hardcoding the values in kingdom is not scalable, we should implement a more elegant way to get a list of unique kingdom names directly from the dataframe** [`unique()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.unique.html) returns unique values in the order of apperance. It does NOT sort.

In [ ]:
euk.Kingdom.unique()

array(['Protists', 'Plants', 'Fungi', 'Animals', 'Other'], dtype=object)

In [ ]:
for kingdom in euk.Kingdom.unique():
    print(kingdom, euk[euk.Kingdom == kingdom].Species.nunique())

Protists 449
Plants 464
Fungi 2554
Animals 1442
Other 27

### Q3. Make a new dataframe containing just the rows for the *Aquila* genus.

**Let go over some biology terminologies**
- The names under the **Species** column are scientific names that made up of a *genus* name and a *species* name separated by a space. Example: *Homo sapiens*. Note: there are some species that don't follow that format and we will ignore them for now.

**To solve this problem, we will need to separate the genus and species names for each value in the Species column.**

In [ ]:
# Review how to split a string
a = "abc def"
a_split = a.split()
print(a_split)
print(a_split[0])


# Split the strings stored in the column Species
euk.Species.str.split()

['abc', 'def']
abc
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8302 entries, 0 to 8301
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Species             8302 non-null   object
 1   Kingdom             8302 non-null   object
 2   Class               8302 non-null   object
 3   Size (Mb)           8302 non-null   float64
 4   GC%                 8302 non-null   object
 5   Number of genes     8302 non-null   object
 6   Number of proteins  8302 non-null   object
 7   Publication year    8302 non-null   int64
 8   Assembly status     8302 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 583.9+ KB
None

0       [Emiliania, huxleyi, CCMP1516]
1              [Arabidopsis, thaliana]
2                       [Glycine, max]
3               [Medicago, truncatula]
4              [Solanum, lycopersicum]
                     ...
8297       [Saccharomyces, cerevisiae]
8298       [Saccharomyces, cerevisiae]
8299       [Saccharomyces, cerevisiae]
8300       [Saccharomyces, cerevisiae]
8301       [Saccharomyces, cerevisiae]
Name: Species, Length: 8302, dtype: object

In [ ]:
# Split the strings stored in the column Species
euk.Species.str.split()

0       [Emiliania, huxleyi, CCMP1516]
1              [Arabidopsis, thaliana]
2                       [Glycine, max]
3               [Medicago, truncatula]
4              [Solanum, lycopersicum]
                     ...
8297       [Saccharomyces, cerevisiae]
8298       [Saccharomyces, cerevisiae]
8299       [Saccharomyces, cerevisiae]
8300       [Saccharomyces, cerevisiae]
8301       [Saccharomyces, cerevisiae]
Name: Species, Length: 8302, dtype: object

In [ ]:
# Now we can take the first element of each of the resulting
# lists (again remembering to refer to the str attribute):
# This gives us our series of genus names.
euk.Species.str.split().str[0]

0           Emiliania
1         Arabidopsis
2             Glycine
3            Medicago
4             Solanum
            ...
8297    Saccharomyces
8298    Saccharomyces
8299    Saccharomyces
8300    Saccharomyces
8301    Saccharomyces
Name: Species, Length: 8302, dtype: object

In [ ]:
# Now we can add the condition to get a series of boolean values:
euk.Species.str.split(" ").str[0] == "Aquila"

0       False
1       False
2       False
3       False
4       False
        ...
8297    False
8298    False
8299    False
8300    False
8301    False
Name: Species, Length: 8302, dtype: bool

In [ ]:
# we can plug into the original dataframe to just select the
# rows with True

aquila_data = euk[(euk.Species.str.split(" ").str[0] == "Aquila")]
aquila_data

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
1755,Aquila chrysaetos canadensis,Animals,Birds,1192.74,41.9001,17520,31284,2014,Scaffold
4388,Aquila chrysaetos canadensis,Animals,Birds,1548.48,43.5,-,-,2014,Scaffold
5342,Aquila chrysaetos chrysaetos,Animals,Birds,1228.51,42.2,-,-,2018,Scaffold

In [ ]:
# once we have figured out how to extract the genus name
# we combine it with other columns in the dataframe to create
# a new dataframe
euk["Genus"] = euk.Species.str.split(" ").str[0]

neweuk = euk[["Species", "Genus", "Class", "Kingdom"]]
neweuk

                         Species          Genus           Class   Kingdom
0     Emiliania huxleyi CCMP1516      Emiliania  Other Protists  Protists
1           Arabidopsis thaliana    Arabidopsis     Land Plants    Plants
2                    Glycine max        Glycine     Land Plants    Plants
3            Medicago truncatula       Medicago     Land Plants    Plants
4           Solanum lycopersicum        Solanum     Land Plants    Plants
...                          ...            ...             ...       ...
8297    Saccharomyces cerevisiae  Saccharomyces     Ascomycetes     Fungi
8298    Saccharomyces cerevisiae  Saccharomyces     Ascomycetes     Fungi
8299    Saccharomyces cerevisiae  Saccharomyces     Ascomycetes     Fungi
8300    Saccharomyces cerevisiae  Saccharomyces     Ascomycetes     Fungi
8301    Saccharomyces cerevisiae  Saccharomyces     Ascomycetes     Fungi

[8302 rows x 4 columns]

In [ ]:
euk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8302 entries, 0 to 8301
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Species             8302 non-null   object
 1   Kingdom             8302 non-null   object
 2   Class               8302 non-null   object
 3   Size (Mb)           8302 non-null   float64
 4   GC%                 8302 non-null   object
 5   Number of genes     8302 non-null   object
 6   Number of proteins  8302 non-null   object
 7   Publication year    8302 non-null   int64
 8   Assembly status     8302 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 583.9+ KB

### Q4. Which organism have at least 10% more proteins than genes?

There are a few different ways to interpret ”10% more”, but for the purposes of this question we’ll say that we want to divide the number of proteins by the number of genes, and if the result is greater than or equal to 1.1 then we want to include the organism.

If you look at the `euk` dataframe, you will see that the columns **Number of proteins** and **Number of genes** are mixed with numeric values and dashes. To ensure that all the values in these two columns are numeric, we will use pandas method [`to_numeric`](https://pandas.pydata.org/pandas-docs/version/0.19.2/generated/pandas.to_numeric.html) to covert the values to numeric. We will set the `errors` argument to `'coerce'` to convert any non-numeric value to NaN (not a number).

In [ ]:
euk["Number of genes"] = pd.to_numeric(euk["Number of genes"], errors="coerce")
euk["Number of proteins"] = pd.to_numeric(euk["Number of proteins"], errors="coerce")
euk["GC%"] = pd.to_numeric(euk["GC%"], errors="coerce")

# automatically applying the division for each row
euk["Proteins per gene"] = euk["Number of proteins"] / euk["Number of genes"]

In [ ]:
# To filter the rows where the ratio of proteins and genes is
# greater than or equal to 1.1, we will get a series of boolean
# values by setting the condition.

euk[(euk["Proteins per gene"] >= 1.1)]

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status,Genus,Proteins per gene,GC_fraction
1,Arabidopsis thaliana,Plants,Land Plants,119.669000,36.0529,38311.0,48265.0,2001,Chromosome,Arabidopsis,1.259821,0.360529
2,Glycine max,Plants,Land Plants,979.046000,35.1153,59847.0,71219.0,2010,Chromosome,Glycine,1.190018,0.351153
3,Medicago truncatula,Plants,Land Plants,412.924000,34.0470,37603.0,41939.0,2011,Chromosome,Medicago,1.115310,0.340470
4,Solanum lycopersicum,Plants,Land Plants,828.349000,35.6991,31200.0,37660.0,2010,Chromosome,Solanum,1.207051,0.356991
6,Oryza sativa Japonica Group,Plants,Land Plants,374.423000,43.5769,35219.0,42580.0,2015,Chromosome,Oryza,1.209007,0.435769
...,...,...,...,...,...,...,...,...,...,...,...,...
6487,Fusarium oxysporum f. sp. melonis 26406,Fungi,Ascomycetes,54.034300,47.5000,20030.0,26719.0,2012,Scaffold,Fusarium,1.333949,0.475000
6523,Fusarium oxysporum Fo47,Fungi,Ascomycetes,49.664600,47.7000,18553.0,24818.0,2012,Scaffold,Fusarium,1.337681,0.477000
6626,Arabidopsis thaliana,Plants,Land Plants,93.654500,36.0433,16842.0,20111.0,2000,Chromosome,Arabidopsis,1.194098,0.360433
6781,Mus musculus,Animals,Mammals,3251.250000,41.8306,31682.0,45437.0,2005,Chromosome,Mus,1.434158,0.418306
8298,Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155.0,298.0,1992,Chromosome,Saccharomyces,1.922581,0.385921

## Select data from DataFrame

### Select rows with specific column value

In [ ]:
fungi = euk[(euk.Kingdom == "Fungi")]
fungi.head(5)

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
8,Saccharomyces cerevisiae S288C,Fungi,Ascomycetes,12.15710,38.1556,6445,6002,1999,Complete Genome
10,Pneumocystis carinii B80,Fungi,Ascomycetes,7.66146,27.8,3695,3646,2015,Contig
11,Schizosaccharomyces pombe,Fungi,Ascomycetes,12.59130,36.0381,6974,5132,2002,Chromosome
12,Aspergillus nidulans FGSC A4,Fungi,Ascomycetes,30.27600,50.2721,9586,9556,2003,Scaffold
13,Aspergillus fumigatus Af293,Fungi,Ascomycetes,29.38500,49.8105,19832,19260,2005,Chromosome

### Indexing in pandas
The indexing operator and attribute selection are nice because they work just like they do in the rest of the Python ecosystem. As a novice, this makes them easy to pick up and use. However, pandas has its own accessor operators, `iloc` and `loc`. For more advanced operations, these are the ones you're supposed to be using.

#### Index-based selection
Pandas indexing works in one of two paradigms. The first is index-based selection: selecting data based on its numerical position in the data.`iloc` follows this paradigm.

To select the first row of data in a DataFrame, we may use the following:

In [ ]:
fungi.iloc[0]  # first row

Species               Saccharomyces cerevisiae S288C
Kingdom                                        Fungi
Class                                    Ascomycetes
Size (Mb)                                    12.1571
GC%                                          38.1556
Number of genes                               6445.0
Number of proteins                            6002.0
Publication year                                1999
Assembly status                      Complete Genome
Proteins per gene                           0.931265
Name: 8, dtype: object

## Extracting rows and columns

-  Extract specific rows and all columns

    ```df.iloc[rows]```

-  Extract specific rows and columns

    ```df.iloc[rows, columns]```

-  Extract specific rows and columns with specific indices

    ```df.iloc[start:stop:skip, start:stop:skip]```

#### Note that stop is exclusive 
 
 ```[1:3]``` will extract the second and third rows for all columns.

```[1::2, :]```  will extract from the 2nd row all the way to the end every other row, and all the columns

```[:, :3]```  all rows, from the beginning to the 3rd column (indices 0, 1, 2)

In [ ]:
# Getting the second and third rows for all columns
fungi.iloc[1:3]

                      Species Kingdom  ... Publication year  Assembly status
10   Pneumocystis carinii B80   Fungi  ...             2015           Contig
11  Schizosaccharomyces pombe   Fungi  ...             2002       Chromosome

[2 rows x 9 columns]

In [ ]:
# Getting every other rows from the first row to the 10th row, and extracting 4th and 5th columns
fungi.iloc[0:10:2, 3:5]

    Size (Mb)      GC%
8    12.15710  38.1556
11   12.59130  36.0381
13   29.38500  49.8105
15   14.28270  33.4827
33    2.49752  47.3005

In [ ]:
# let's check to see if we have extract the desired rows and columns
fungi.head(10)

                           Species Kingdom  ... Publication year  Assembly status
8   Saccharomyces cerevisiae S288C   Fungi  ...             1999  Complete Genome
10        Pneumocystis carinii B80   Fungi  ...             2015           Contig
11       Schizosaccharomyces pombe   Fungi  ...             2002       Chromosome
12    Aspergillus nidulans FGSC A4   Fungi  ...             2003         Scaffold
13     Aspergillus fumigatus Af293   Fungi  ...             2005       Chromosome
14     Phanerochaete chrysosporium   Fungi  ...             2016           Contig
15         Candida albicans SC5314   Fungi  ...             2016       Chromosome
16         Neurospora crassa OR74A   Fungi  ...             2003       Chromosome
33  Encephalitozoon cuniculi GB-M1   Fungi  ...             2001       Chromosome
46     Aspergillus terreus NIH2624   Fungi  ...             2005         Scaffold

[10 rows x 9 columns]

Both `loc` and `iloc` are row-first, column-second. This is the opposite of what we do in native Python, which is column-first, row-second.

This means that it's marginally easier to retrieve rows, and marginally harder to get retrieve columns. To get a column with iloc, we can do the following:

In [ ]:
fungi.iloc[:, 0]  # all rows, first column

8       Saccharomyces cerevisiae S288C
10            Pneumocystis carinii B80
11           Schizosaccharomyces pombe
12        Aspergillus nidulans FGSC A4
13         Aspergillus fumigatus Af293
                     ...
8297          Saccharomyces cerevisiae
8298          Saccharomyces cerevisiae
8299          Saccharomyces cerevisiae
8300          Saccharomyces cerevisiae
8301          Saccharomyces cerevisiae
Name: Species, Length: 4494, dtype: object

On its own, the `:` operator, which also comes from native Python, means "everything". When combined with other selectors, however, it can be used to indicate a range of values. For example, to omit the first 3 columns and extract just the first three rows, we would do:

In [ ]:
fungi.iloc[:3, 3:]

    Size (Mb)      GC%  ... Publication year  Assembly status
8    12.15710  38.1556  ...             1999  Complete Genome
10    7.66146     27.8  ...             2015           Contig
11   12.59130  36.0381  ...             2002       Chromosome

[3 rows x 6 columns]

#### Label-based selection
The second paradigm for attribute selection is the one followed by the loc operator: label-based selection. In this paradigm, it's the data index value, not its position, which matters.

In [ ]:
# Getting all rows, and specific columns based on their headers
fungi.loc[:, ["Species", "Number of genes", "Number of proteins"]]

                             Species  Number of genes  Number of proteins
8     Saccharomyces cerevisiae S288C           6445.0              6002.0
10          Pneumocystis carinii B80           3695.0              3646.0
11         Schizosaccharomyces pombe           6974.0              5132.0
12      Aspergillus nidulans FGSC A4           9586.0              9556.0
13       Aspergillus fumigatus Af293          19832.0             19260.0
...                              ...              ...                 ...
8297        Saccharomyces cerevisiae              NaN                 NaN
8298        Saccharomyces cerevisiae            155.0               298.0
8299        Saccharomyces cerevisiae              NaN                 NaN
8300        Saccharomyces cerevisiae              NaN                 NaN
8301        Saccharomyces cerevisiae              NaN                 NaN

[4494 rows x 3 columns]

## Set row index using a specific column

In [ ]:
fungi.set_index("Species", inplace=True)
fungi

,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
Species,,,,,,,,
Saccharomyces cerevisiae S288C,Fungi,Ascomycetes,12.157100,38.1556,6445,6002,1999,Complete Genome
Pneumocystis carinii B80,Fungi,Ascomycetes,7.661460,27.8,3695,3646,2015,Contig
Schizosaccharomyces pombe,Fungi,Ascomycetes,12.591300,36.0381,6974,5132,2002,Chromosome
Aspergillus nidulans FGSC A4,Fungi,Ascomycetes,30.276000,50.2721,9586,9556,2003,Scaffold
Aspergillus fumigatus Af293,Fungi,Ascomycetes,29.385000,49.8105,19832,19260,2005,Chromosome
...,...,...,...,...,...,...,...,...
Saccharomyces cerevisiae,Fungi,Ascomycetes,3.993920,38.2,-,-,2017,Scaffold
Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155,298,1992,Chromosome
Saccharomyces cerevisiae,Fungi,Ascomycetes,12.020400,38.2971,-,-,2018,Chromosome
Saccharomyces cerevisiae,Fungi,Ascomycetes,11.960900,38.2413,-,-,2018,Chromosome
Saccharomyces cerevisiae,Fungi,Ascomycetes,11.820700,38.2536,-,-,2018,Chromosome

In [ ]:
# Getting specific rows based on the row index and all columns
fungi.loc[["Saccharomyces cerevisiae"], :]

,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
Species,,,,,,,,
Saccharomyces cerevisiae,Fungi,Ascomycetes,12.086300,38.1473,-,-,2015,Complete Genome
Saccharomyces cerevisiae,Fungi,Ascomycetes,12.165500,38.3121,-,-,2018,Complete Genome
Saccharomyces cerevisiae,Fungi,Ascomycetes,12.134300,38.1573,-,-,2019,Complete Genome
Saccharomyces cerevisiae,Fungi,Ascomycetes,12.150900,38.5859,-,-,2015,Chromosome
Saccharomyces cerevisiae,Fungi,Ascomycetes,12.071900,38.3205,-,-,2016,Chromosome
...,...,...,...,...,...,...,...,...
Saccharomyces cerevisiae,Fungi,Ascomycetes,3.993920,38.2,-,-,2017,Scaffold
Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155,298,1992,Chromosome
Saccharomyces cerevisiae,Fungi,Ascomycetes,12.020400,38.2971,-,-,2018,Chromosome
Saccharomyces cerevisiae,Fungi,Ascomycetes,11.960900,38.2413,-,-,2018,Chromosome
Saccharomyces cerevisiae,Fungi,Ascomycetes,11.820700,38.2536,-,-,2018,Chromosome

## Reset dataframe's index

In [ ]:
fungi.reset_index(inplace=True)
fungi

,Species,Kingdom,Class,Size (Mb),GC%,Number of genes,Number of proteins,Publication year,Assembly status
0,Saccharomyces cerevisiae S288C,Fungi,Ascomycetes,12.157100,38.1556,6445,6002,1999,Complete Genome
1,Pneumocystis carinii B80,Fungi,Ascomycetes,7.661460,27.8,3695,3646,2015,Contig
2,Schizosaccharomyces pombe,Fungi,Ascomycetes,12.591300,36.0381,6974,5132,2002,Chromosome
3,Aspergillus nidulans FGSC A4,Fungi,Ascomycetes,30.276000,50.2721,9586,9556,2003,Scaffold
4,Aspergillus fumigatus Af293,Fungi,Ascomycetes,29.385000,49.8105,19832,19260,2005,Chromosome
...,...,...,...,...,...,...,...,...,...
4489,Saccharomyces cerevisiae,Fungi,Ascomycetes,3.993920,38.2,-,-,2017,Scaffold
4490,Saccharomyces cerevisiae,Fungi,Ascomycetes,0.586761,38.5921,155,298,1992,Chromosome
4491,Saccharomyces cerevisiae,Fungi,Ascomycetes,12.020400,38.2971,-,-,2018,Chromosome
4492,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.960900,38.2413,-,-,2018,Chromosome
4493,Saccharomyces cerevisiae,Fungi,Ascomycetes,11.820700,38.2536,-,-,2018,Chromosome